.input-group .left-element > .betomic-icon {
  margin: 13px;
}

.input-group .right-element > .betomic-icon {
  margin: 13px;
}

.input-group .left-element > button, .btn {
  margin: 0;
}

.input-group .right-element > button, .btn {
  margin: 0;
}

.input-group > input:invalid {
  border-color: #f32736;
  border-width: 2px;
  background-color: #fff;
  box-shadow: none;
}
