@tailwind base;
@tailwind components;

:root { --grid-gap: 15px; }
.grid-container { display: grid; grid-gap: var(--grid-gap); }
.grid { display: grid !important; }

@tailwind utilities;
@tailwind screens;
@import "./Glide/styles.css";

@screen sm {
  .sm\:grid { display: grid !important; }
}

@screen md {
  .md\:grid { display: grid !important; }
}

@screen lg {
  .lg\:grid { display: grid !important; }
}

@screen xl {
  .xl\:grid { display: grid !important; }
}